@import url('Login.css');
.login {
    text-align: center;
    border: solid 1px #000000;
    padding:30px 0px 20px 0px;
}
.comment {
    padding: 10px 0px 0px 0px;
}
.textbox {
    padding: 10px 0px 0px 0px;
}
.button {
    padding: 10px 0px 0px 0px;
}