.header {
    text-align: center;
    border: solid 1px #000000;
    background: #ede3e7;
    padding: 10px 0px 10px 0px;
}
.contener {
    padding: 10px 3px 10px 30px;
}
.fom{
    text-align:center;
}
.main {
    text-align: center;
    display: inline-block;
}

.infor {
    display: inherit;
}

.main tr {
    display: inherit;
    border: solid 1px #000000;
    padding: 10px 10px 10px 10px;
}

.main th, td {
    display: inline-block;
    border: solid 1px #000000;
    padding: 10px 10px 10px 10px;
    height: 30px;
    width: 280px;
}